* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #F5EDDC;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.hero-head {
    font-family: 'Poppins', sans-serif;
    font-family: 700;
    font-size: 72px;
    color: #850E35;
}

.hero-text {
    margin-top: 15px;
    color : #100720;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.drums {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.drum-row {
    margin-top: 25px;
}


.drum-keys {
    background-color: #FA9494;
    height: 100px;
    width: 100px;
    margin-right: 28px;
    border-radius: 10px;
    border: 1.6px solid #100720;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 28px;
    color: #100720;
    transition: 0.09s;
}

.playing {
    transform: scale(1.07);
    background-color: #EB1D36;
    border: 2.1px solid #850E35;
}

.key-name {
    margin-top: 5px;
    display: block;
    font-size: 16px;
}